<!doctype html>
<html ng-app="inputRestrict">

<head>
    <meta charset="utf-8">
    <meta name="author" content="amal-pn">

    <meta name="description" content="AngularJS Directive for restricting the input values typed in to an input element based on a REGEX
    pattern.">

    <title>AngularJS Input Restrict Directive</title>
</head>

<body ng-controller="AppCtrl">
    <strong> AngularJS Directive for restricting the input values typed in to an input element based on a REGEX
        pattern.</strong>

    <hr />

    Digits : <input ng-model="val1" placeholder="123.." restrict-pattern="^[\d]*$" /> 
    Model Value: {{val1}}<br />
    Alpanumerics or underscore : <input ng-model="val2" placeholder="abc123_" restrict-pattern="^[\w]*$" /> 
    Model Value: {{val2}}<br />
    Lower-Case Letters : <input ng-model="val3" placeholder="abc..." restrict-pattern="^[a-z]*$" /> 
    Model Value: {{val3}}<br />
    Upper-Case Letters : <input ng-model="val4" placeholder="ABC..." restrict-pattern="^[A-Z]*$" /> 
    Model Value: {{val4}}<br />
    Percentage value(0 to 100) with upto two decimal places : <input ng-model="val5" placeholder="99.99..." 
        restrict-pattern = "(^100$)|(^\d{1,2}$)|(^[1-9]{0,1}[0-9]{1}\.\d{0,2}$)|(^[1-9]{1}[0-9]{1}$)" /> 
    Model Value: {{val5}}<br />
    

    <!--scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.js"></script>
    <script src="inputRestrictDirective.js"></script>
</body>

</html>